<div
  class="flex justify-content-center mt-3 mb-3 text-teal-500 text-5xl font-bold"
>
  Unprocessed comments
</div>

<div class="flex-column">
  <div class="flex justify-content-center" *ngFor="let comment of comments">
    <div class="message-card">
      <div class="user-info">
        <div>{{ comment?.user?.firstName }} {{ comment?.user?.lastName }}</div>
      </div>
      <div class="comment-body">
        {{ comment?.comment }}
      </div>
      <div class="flex actions justify-content-between mt-3">
        <!-- Dodajte gumbi ovdje -->
        <div>
          <button
            class="customBtn"
            style="background-color: rgb(112, 112, 244)"
            (click)="acceptComment(comment)"
          >
            Accept
            <i style="margin-left: 3px" class="pi pi-fw pi-check"></i>
          </button>
          <button
            class="customBtn"
            style="background-color: rgb(112, 112, 244)"
            (click)="showEditModal(comment)"
          >
            Edit
            <i style="margin-left: 3px" class="pi pi-fw pi-file-edit"></i>
          </button>
          <button
            class="customBtn"
            style="background-color: rgb(236, 108, 108)"
            (click)="declineComment(comment)"
          >
            Decline
            <i style="margin-left: 3px" class="pi pi-fw pi-times"></i>
          </button>
        </div>
        <div>
          {{ comment?.date | date : "dd MMM yyyy" }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card flex justify-content-center">
  <p-dialog
    header="Edit comment"
    [(visible)]="visibleEditModule"
    [style]="{ width: '50vw' }"
  >
    <div class="flex py-2 justify-content-center">
      <textarea
        rows="6"
        pInputTextarea
        [style]="{ width: '90%' }"
        [(ngModel)]="commentToEdit"
      ></textarea>
    </div>
    <div class="flex justify-content-center py-2">
      <button id="addBtn" (click)="editComment()" class="btn btn-primary">
        Edit
      </button>
    </div>
  </p-dialog>
</div>
